<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= folder.name %></title>
</head>
<body>
    <div>
        <div>
            Folder name: <%= folder.name %>
            Author name: <%= folder.author.name %>
            <% folder.files.forEach((file) => { %>
                <%= file.name %>
            <% }) %>
            <a href="/deleteFolder/<%= folder.id %>"><button type="button">Delete Folder</button></a>
        </div>
    </div>
    <%- include("partials/errors") %>
    <form method="post" action="/folder/<%= folder.name %>">
        <div>
            <label for="name">Folder Name</label>
            <input type="text" name="name" id="name" value="<%= folder.name %>">
            <input type="hidden" name="folderId" id="folderId" value="<%= folder.id %>">
        </div>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>

